[submodule "SUSTech-EE326-Digital-image-Processing-Project"]
	path = SUSTech-EE326-Digital-image-Processing-Project
	url = https://mirrors.sustech.edu.cn/git/fanqy2018/SUSTech-EE326-Digital-image-Processing-Project.git
