[submodule "SUSTech-EE326-Digital-image-Processing-Project"]
	path = SUSTech-EE326-Digital-image-Processing-Project
	url = https://github.com/sparkcyf/SUSTech-EE326-Digital-Image-Processing-Project.git
